@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../Montserrat-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Centry Gothic";
  src: url("../fonts/CenturyGothic.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/* Общие стили */

html {
  box-sizing: border-box;
}
  
*,
*::before,
*::after {
  box-sizing: inherit;
}
  
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #24173D;
}
  
img {
  max-width: 100%;
}
  
a {
  text-decoration: none;
}
  
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section {
  margin: 0;
  padding: 0;
}
  
.site-container {
  overflow: hidden;
}

.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

/* Header */

.header {
  height: 156px;
}

.header__container {
  padding-top: 20px;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  padding-right: 43px;
  border-right: 2px solid #3B393C;
}

.header__info {
  margin: 0;
  margin-left: 51px;
  max-width: 384px;
  display: inline-block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #24173D;
}

.header__number {
  color: #24173D;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 30px;
  background-image: url(/img/icon-phone-header.svg);
}

.header__right {
  display: flex;
  align-items: center;
}

.header__btn {
  margin-left: 50px;
  padding: 12.5px 45.5px;
  gap: 10px;
  background: #FFC633;
  border-radius: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}

/* Hero */

.hero {
  margin-bottom: 43px;
}

.banner-size {
  z-index: -1;
  position: absolute;
  /* transform: translateX(-160px);
  transform: translateY(-20px); */
}

.hero__banner {
  width: 100%;
  height: 738px;
  padding-left: 160px;
  padding-right: 160px;
  padding-top: 68px;
  padding-bottom: 209px;
  display: flex;
  justify-content: space-between;
}

.hero__left {
  max-width: 655px;
  margin-right: 58px;
  padding-top: 20px;
}

.hero__title {
  margin: 0;
  padding-bottom: 38px;
  margin-bottom: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 29px;
  line-height: 70px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}

.hero__title-first-word {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 67px;
  line-height: 70px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.hero__subtitle{
  margin: 0;
  margin-bottom: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  color: #FFFFFF;
}

.subtitle__text {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}

.subtitle__text-last-phrase {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F6BF33;
}

.hero__right {
  width: 890px;
  height: 461px;
  background: #FFC633;
  box-shadow: 10px 25px 45px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 30px;
}

.form__header {
  margin: 0;
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.form__header-first-word {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 87px;
  line-height: 106px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #24173D;
}

.form__header-second-line {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #24173D;
}

.hero__form {
  text-align: center;
}

.hero__form__input {
  width: 385px;
  height: 65px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
}

.hero__form__input {
  margin-right: 10px;
  margin-left: 10px;
  padding-left: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-size: 19px;
  line-height: 23px;
  color: #5C5C5C;
}

.hero__form-btn {
  padding: 22px 38px;
  margin-top: 30px;
  width: 360px;
  height: 65px;
  background: #24173D;
  box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
  border-radius: 43px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* Advantages */

.advantages__form-field {
  max-width: 1780px;
  margin: 0 auto;
  padding: 90px;
  border: 5px double #030303;
  border-radius: 20px;
}

.advantages__form-header {
  margin: 0 auto;
  padding: 0 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: #24173D;
}

.advantages__form-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages__form-item {
  flex: 1 1 33.3%;
  display: flex;
  align-items: center;
}

.advantages__form-item:nth-last-child(n+4) {
  margin-bottom: 93px;
}

.advantages__form-item-icon {
  min-width: 80px;
  min-height: 80px;
}

.advantages__form-item-info {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #24173D;
  margin-left: 40px;
}

/* Types */

.types__container {
  width: 1920px;
}

.types__header {
  margin: 0;
  margin-top: 44px;
  margin-bottom: 59px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: #24173D;
}

.types__list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.types__item {
  height: 416px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.types__item--1 {
  width: 637px;
  background-image: url(../img/types--1.png);
}

.types__item--2 {
  width: 643px;
  background-image: url(../img/types--2.png);
}

.types__item--3 {
  width: 638px;
  background-image: url(../img/types--3.png);
}

.types__item--4 {
  width: 959px;
  background-image: url(../img/types--4.png);
}

.types__item--5 {
  width: 960px;
  background-image: url(../img/types--5.png);
}

.types__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.types__item-title {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.types__item-btn {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 50px;
  gap: 10px;
  background: #FAC86E;
  box-shadow: 4px 4px 8px rgba(23, 55, 95, 0.2);
  border-radius: 30px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #24173D;
}

/* Data */

.data__container {
  margin-top: 108px;
  margin-bottom: 108px;
  margin-right: 37px;
  margin-left: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.data__title {
  max-width: 662px;
  padding-left: 30px;
  margin-right: 113px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 77px;
  text-transform: uppercase;
  color: #24173D;
  border-left: 5px solid #24173D;
}

.data__right {
  width: 998px;
  height: 321px;
  background: #FFC633;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px 0px 0px 30px;
  padding: 50px;
  gap: 57px;
}

.data__right-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.data__right-item {
  max-width: 251px;
  height: 221px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.data__right-item:first-child {
  margin-right: 216px;
}

.data__right-item:last-child {
  margin-left: 57px;
  justify-content: flex-start;
}

.data__right-item:not(:last-child) {
  padding-right: 57px;
  border-right: 2px solid rgba(255, 255, 255, .2);
}

.right__header,
.right__footer {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.last {
  margin-top: 20px;
}

.right__percent {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 37px;
  color: #24173D;
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 2px solid #FFFFFF;
  border-top: 2px solid #FFFFFF;
}

.upper-percent {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  text-transform: uppercase;
  color: #24173D;
}

/* Consult */

.consult__banner {
  z-index: -1;
  position: absolute;
}

.consult__content {
  width: 100%;
  height: 398px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.consult__form-header {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.consult__form-header--main {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  color: #FFFFFF;
}

.consult__form {
  width: 1060px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.consult__form__input {
  width: 385px;
  height: 57px;
  background: #FFFFFF;
  border-radius: 5px;
  padding-left: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(56, 56, 56, 0.4);
}

.consult__form-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 250px;
  height: 57px;
  background: #FFC633;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #24173D;
}

.footer {
  width: 100%;
  height: 254px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__up {
  margin-bottom: 40px;
}

.footer__down {
  width: 1920px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(230, 229, 234, 0.15);
}

.footer__copyright,
.footer__development {
  margin: 0;
  font-family: 'Century Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4A4A4A;
}

.footer__development--1 {
  color: #F8B500;
}